/* =Blog
-------------------------------------------------------------- */


/* Play Button */

@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.blog-post {
  margin-bottom: 100px;
}

.blog-front-image {
  position: relative;
  width: 100%;
}

.blog-thumb {
  position: relative;
  img {
    height: auto;
  }
  .icon-video-blog {
    position: absolute;
    top: calc(50% - 34px);
    left: calc(50% - 34px);
    width: 68px;
    height: 68px;
    font-size: 38px;
    line-height: 70px;
    color: #545454;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    &:hover {
      background-color: #fff;
    }
  }
}

.circle {
  stroke: #48ac8a;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  opacity: .3;
  transition: all .5s ease-in-out;
}

.playBut {
  display: inline-block;
  background-color: rgba(255, 255, 255, .79);
  border-radius: 50%;
  transition: all .5s ease;
  .triangle {
    transition: all .7s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #000;
    transform: translateY(0);
  }
  &:hover {
    .triangle {
      stroke-dashoffset: 0;
      opacity: 1;
      stroke: #48ac8a;
      animation: nudge .7s ease-in-out;
    }
    .circle {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}

.blog-front-content {
  position: absolute;
  right: 0;
  width: 100%;
  padding: 40px;
  background: #383838;
}

.blog-front-content-inner {
  position: relative;
  h1 {
    a {
      color: #fff;
    }
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 100;
    color: #fff;
  }
  .post-date {
    display: block;
    font-family: "Roboto Slab";
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    padding-bottom: 30px;
    color: #fff;
  }
}

.read-more-blog-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: #fff;
}

.single-blog-wrapper {
  h1 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
  }
}

.info-title {
  font-family: "Open Sans";
  line-height: 45px;
  color: #fff;
}

.post-single-date {
  font-family: "Roboto Slab";
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.share-buttons {
  padding: 8px 0;
  ul {
    padding: 0;
    i {
      padding-right: 2px;
      padding-left: 2px;
      font-size: 16px;
      color: #fff;
      &:hover {
        color: #7beec7;
      }
    }
    li {
      display: inline;
    }
    a {
      padding-right: 2px;
      padding-left: 2px;
      font-size: 16px;
      color: #fff;
      &:hover {
        color: #7beec7;
      }
    }
  }
}

.blog-tags {
  ul {
    padding: 0 0 0 6px;
    li {
      display: inline-block;
      padding: 2px 5px;
      margin-top: 4px;
      margin-left: 2px;
      background: #fff;
      &:hover {
        color: #fff;
        background: #7beec7;
      }
    }
    a {
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 100;
      color: #111;
      &:hover {
        color: #fff;
        background: #7beec7;
      }
    }
  }
}

.full-blog-content {
  margin-top: 30px;
  p {
    &:first-of-type {
      &::first-letter {
        float: left;
        padding-top: 4px;
        padding-right: 15px;
        padding-left: 20px;
        margin-top: 8px;
        margin-right: 10px;
        font-family: "Roboto Slab";
        font-size: 60px;
        line-height: 60px;
        color: #fff;
        text-align: center;
        background-color: #111;
      }
    }
  }
}

.cbp_tmtimeline {
  position: relative;
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    width: 5px;
    margin-left: -6px;
    content: "";
    background: #5f5f5f;
  }
  > li {
    .cbp_tmtime {
      position: absolute;
      display: block;
      width: 25%;
      padding-right: 100px;
      span {
        display: block;
        text-align: right;
        &:first-child {
          font-size: 20px;
          color: #bdd0db;
        }
        &:last-child {
          padding-top: 18px;
          color: #5f5f5f;
        }
      }
    }
    .cbp_tmlabel {
      position: relative;
      padding: 20px;
      margin: 0 0 35px 25%;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.4;
      background: #e1e2e1;
      h2 {
        padding: 0 0 10px;
        margin-top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
      }
      &::after {
        position: absolute;
        top: 22px;
        right: 100%;
        width: 0;
        height: 0;
        pointer-events: none;
        content: "";
        border: solid transparent;
        border-width: 10px;
        border-right-color: #e1e2e1;
      }
    }
    .cbp_tmicon {
      position: relative;
      top: 0;
      left: 20%;
      float: left;
      width: 60px;
      height: 60px;
      margin: 0 0 0 -35px;
      speak: none;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      line-height: 60px;
      color: #fff;
      text-align: center;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      background: #5f5f5f;
      border-radius: 50%;
    }
  }
}

.cbp_tmlabel {
  h1 {
    color: #333;
  }
  p {
    color: #333;
  }
}

.blog-v2-image {
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
}

.icon-video-blogv2 {
  position: absolute;
  top: calc(50% - 36px);
  right: 0;
  left: 0;
  width: 69px;
  height: 69px;
  margin: auto;
}
