/* =Contact
-------------------------------------------------------------- */

.contact-map {
  position: relative;
  height: 450px;
}

.inner-map {
  position: absolute;
  top: -410px;
  z-index: 1;
  display: table;
  width: calc(100% - 40px);
  height: 370px;
  padding: 25px;
  margin-top: 20px;
  margin-left: 20px;
  background: rgba(255, 255, 255, .8);
  .inner-map-content {
    display: table-cell;
    vertical-align: middle;
    h1 {
      font-family: "Roboto Slab", sans-serif;
      font-size: 60px;
      text-align: center;
    }
    hr {
      float: none;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }
}

.contact-wrapper {
  float: left;
  width: 100%;
  clear: both;
}

.contact-info {
  float: left;
  margin-bottom: 25px;
  clear: both;
  font-family: "Open Sans";
  font-size: 24px;
}

#map {
  width: 100%;
  height: 410px;
}

.icon-info {
  float: left;
  line-height: 45px;
}

.title-info {
  display: block;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.description-info {
  display: block;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
}

.contact-form {
  [type="submit"] {
    width: 100%;
    height: 48px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2pt;
    background-color: #7beec7;
    border: 0;
    outline: 0;
  }
  input {
    margin-bottom: 30px;
    font-family: "Open Sans";
  }
  textarea {
    margin-bottom: 30px;
    font-family: "Open Sans";
  }
}

input {
  font-family: "Open Sans";
  outline: 0;
}

textarea {
  width: 100%;
  height: 125px;
  padding-top: 7px;
  padding-left: 10px;
  font-family: "Open Sans";
  resize: none;
  border: 1px solid #e6e6e6;
  outline: 0;
  &:focus {
    border: 1px solid #111;
  }
}

[type="text"] {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-family: "Open Sans";
  border: 1px solid #e6e6e6;
  &:focus {
    border: 1px solid #111;
  }
}
