/* =Footer
-------------------------------------------------------------- */

.footer {
  float: left;
  width: 100%;
  min-height: 300px;
  background: #f4f4f4;
}

.footer-inner {
  display: table;
  width: 100%;
  height: 300px;
}

.footer-content {
  display: table-cell;
  vertical-align: middle;
}

.footer-content p {
  color: #787878;
}

.footer-content h4 {
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.footer-content address {
  font-family: "Open Sans";
  font-size: 14px;
  color: #787878;
  letter-spacing: 1.5pt;
}

.social-media {
  padding: 0;
  text-align: center;
}

.social-media li {
  display: inline;
  padding: 5px;
  list-style-type: none;
}

.social-media li i {
  color: #111;
}

.social-media a i:hover {
  color: #7beec7;
}

.copyright-mark {
  display: block;
  margin-top: 50px;
  font-family: "Open Sans";
  font-weight: 100;
  color: #787878;
  text-align: center;
  letter-spacing: 1.5pt;
}
