/* =Full Width Slider
-------------------------------------------------------------- */

.has-slider {
  position: absolute;
  background: transparent;
}

svg {
  display: block;
  overflow: visible;
}

.architecture-slider-menu {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.slider-container {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: all-scroll;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}

.slider-control.inactive {
  &:hover {
    .slider-control {
      &:not(.inactive) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.slider-control.left {
  left: 0;
  cursor: url(../img/slider-left.png), auto;
}

.slider-control.right {
  right: 0;
  cursor: url(../img/slider-right.png), auto;
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-pagi__elem {
  position: relative;
  display: block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin: 14px 0.5rem;
  border: 1px solid #111111;
  cursor: pointer;
  border-radius: 50%;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 5px;
    background: #111111;
    border-radius: 50%;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  &:hover {
    &:before {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.slider-pagi__elem.active {
  &:before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
  .slide {
    &:nth-child(1) {
      left: 0;
      .slide__bg {
        left: 0;
      }
    }
    .slide__overlay-path {
      fill: #7beec7;
    }
    &:nth-child(2) {
      left: 100%;
      .slide__bg {
        left: -50%;
      }
    }
    &:nth-child(3) {
      left: 200%;
      .slide__bg {
        left: -100%;
      }
    }
    &:nth-child(4) {
      left: 300%;
      .slide__bg {
        left: -150%;
      }
    }
    &:nth-child(5) {
      left: 400%;
      .slide__bg {
        left: -200%;
      }
    }
    &:nth-child(7) {
      left: 600%;
    }
    &:nth-child(8) {
      left: 700%;
      .slide__bg {
        left: -350%;
      }
    }
    &:nth-child(9) {
      left: 800%;
      .slide__bg {
        left: -400%;
      }
    }
    &:nth-child(10) {
      left: 900%;
      .slide__bg {
        left: -450%;
      }
    }
  }
}

.slider.animating {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  will-change: transform;
  .slide__bg {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    will-change: transform;
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &:nth-child(6) {
    left: 500%;
    .slide__bg {
      left: -250%;
    }
  }
  &:nth-child(7) {
    .slide__bg {
      left: -300%;
    }
  }
}

.slide.active {
  .slide__overlay {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .slide__text {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}

.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.slide__text-desc {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 720px;
  transition: -webkit-transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
  path {
    opacity: 0.9;
  }
}

.slide__text {
  position: absolute;
  width: 28%;
  bottom: 30%;
  left: 12%;
  color: #fff;
  transition: -webkit-transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  p {
    font-size: 24px;
    font-family: 'Roboto Slab', sans-serif;
    padding-top: 30px;
    line-height: 30px;
    color: #111111;
    font-weight: 400;
  }
}

.slide__text-heading {
  font-size: 48px;
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  font-weight: 800;
  dispay: block;
  width: 100%;
  padding: 2px;
  position: relative;
  letter-spacing: 4.5pt;
}

span.border-text {
  font-family: 'Roboto Slab';
  font-weight: 100;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}