/* =Header
-------------------------------------------------------------- */

.header {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100px;
  background: #fff;
}

.logo {
  float: left;
  line-height: 100px;
  h1 {
    line-height: 100px;
  }
}

a {
  > .site-name {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &:hover {
    > .site-name {
      color: #333;
    }
  }
}
