/* =Page Not Found
-------------------------------------------------------------- */

.page-error {
  position: relative;
  h1 {
    position: absolute;
    top: 50px;
    left: 15%;
    z-index: -1;
    font-size: 21vw;
    color: #f1f1f1;
  }
  h3 {
    float: left;
    padding: 8px;
    margin-top: 125px;
    font-size: 20px;
    font-size: 28px;
    font-weight: 300;
    color: #3a3939;
  }
  p {
    float: left;
    padding: 8px;
    margin-bottom: 65px;
    font-size: 20px;
    font-weight: 300;
    color: #3a3939;
    a {
      padding-right: 5px;
      padding-left: 5px;
      color: #7beec7;
    }
  }
}
