/* =Portfolio General
-------------------------------------------------------------- */

/* Filter Button */

/* Overlay Thumb Portftolio and Team */

/* Details on portfolio */

@keyframes fade {
  0% {
    color: transparent;
  }
  50% {
    color: #505050;
  }
  100% {
    color: transparent;
  }
}

@keyframes size {
  0% {
    padding-top: 0;
  }
  50% {
    padding-top: 8px;
  }
  100% {
    padding-top: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

/* Height of portfolio */

/* Height 3 column Portfolio */

.portfolio-wrapper {
  clear: both;
}

.nav {
  position: relative;
  z-index: 1;
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 25px;
  cursor: pointer;
  background: #86eecb;
  border: none;
  backface-visibility: hidden;
  &:focus {
    outline: none;
  }
  .icon-container {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    cursor: pointer;
    backface-visibility: hidden;
  }
  .line {
    position: absolute;
    right: 0;
    left: 0;
    width: 26px;
    height: 2px;
    margin: auto;
    background-color: #545454;
    transition: all 300ms cubic-bezier(.215, .61, .355, 1);
    transform: translate3d(0, 0, 0);
  }
  .line01 {
    top: 0;
    opacity: 1;
    transition-delay: 210ms;
  }
  .line02 {
    top: 7px;
    transition-delay: 140ms;
  }
  .line03 {
    top: 14px;
    transition-delay: 70ms;
  }
  .line04 {
    top: 21px;
    opacity: 0;
    transition-delay: 0ms;
  }
  &:hover {
    .line {
      transform: translate3d(0, -7px, 0);
    }
    .line01 {
      opacity: 0;
      transition-delay: 0ms;
    }
    .line02 {
      transition-delay: 70ms;
    }
    .line03 {
      transition-delay: 140ms;
    }
    .line04 {
      opacity: 1;
      transition-delay: 210ms;
    }
  }
}

.active {
  .nav {
    .line {
      left: 28px;
    }
  }
}

.open.nav {
  .line {
    transition: all .3s;
    &:nth-child(2) {
      background: 0;
    }
    &:nth-child(4) {
      background: 0;
    }
    &:nth-child(1) {
      top: 7px;
      opacity: 1;
      transform: rotate(-45deg);
    }
    &:nth-child(3) {
      top: 7px;
      opacity: 1;
      transform: rotate(45deg);
    }
  }
  &:hover {
    .line {
      transform: none;
    }
  }
}

.works-filter {
  float: left;
  margin-bottom: 42px;
  line-height: 46px;
  a {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    color: #111;
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
    &::before {
      padding-right: 20px;
      padding-left: 20px;
      color: #111;
    }
    &:first-child {
      &::before {
        padding-right: 5px;
        padding-left: 5px;
        color: #111;
        content: "";
      }
    }
  }
  .active {
    color: #7beec7;
  }
}

.works-filter.open {
  a {
    opacity: 1;
    transition: all 300ms cubic-bezier(.175, .885, .32, 1.075);
    transform: translate3d(0, 0, 0);
    &:nth-child(1) {
      transition-duration: 600ms;
    }
    &:nth-child(2) {
      transition-duration: 400ms;
    }
    &:nth-child(3) {
      transition-duration: 300ms;
    }
    &:nth-child(4) {
      transition-duration: 200ms;
    }
  }
}

#work-grid {
  clear: both;
}

#dribbble-portfolio {
  clear: both;
}

.js-masonry {
  height: 100%;
  clear: both;
}

.img {
  position: relative;
  display: inherit;
  overflow: hidden;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    transition: opacity .35s, transform .35s;
  }
  &:hover {
    img {
      transition: -webkit-transform 3s;
      transition: transform .5s;
      transform: scale(1.1);
    }
    .like-product {
      opacity: 1;
    }
  }
  .overlay-thumb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    transition: all .5s ease-out;
    &:hover {
      background-color: rgba(123, 238, 199, .9);
    }
  }
  .overlay-thumb.bg-white {
    &:hover {
      background-color: rgba(255, 255, 255, .65);
    }
  }
  .like-product {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    cursor: pointer;
    opacity: 0;
  }
}

.mix {
  .img {
    margin-bottom: 30px;
  }
}

.overlay-thumb {
  .main-portfolio-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    padding: 45px;
    cursor: url("../img/cursor.png"), auto;
  }
  span {
    position: relative;
    z-index: 1;
    line-height: 15px;
    transition: .3s ease;
  }
  .btnBefore {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    content: "";
    border: solid #000;
    border-width: 0;
    transition: all ease-in-out;
  }
  .btnAfter {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    border: solid #000;
    border-width: 0;
    transition: all ease-in-out;
  }
  &:hover {
    .btnBefore {
      width: 100%;
      height: 100%;
      border-width: 0 0 3px 3px;
      transition: width .5s ease, height .5s ease .5s, border-top-right-radius .1s ease .4s, border-bottom-left-radius .1s ease .4s, border-bottom-right-radius .1s ease .9s, border-top-left-radius .1s ease .9s;
    }
    .btnAfter {
      width: 100%;
      height: 100%;
      border-width: 3px 3px 0 0;
      transition: width .5s ease, height .5s ease .5s, border-top-right-radius .1s ease .4s, border-bottom-left-radius .1s ease .4s, border-bottom-right-radius .1s ease .9s, border-top-left-radius .1s ease .9s;
    }
    &::before {
      opacity: 1;
    }
    span {
      opacity: 1;
    }
    .details {
      span {
        top: 0;
      }
    }
    .title {
      transition-delay: .15s;
    }
    .info {
      transition-delay: .25s;
    }
  }
}

.details {
  font-family: "Open Sans";
  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    line-height: 1;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1.2pt;
  }
  .info {
    margin-top: 5px;
    font-size: 14px;
    font-size: 12px;
    line-height: 1.2;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
  }
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 20px;
  span {
    position: relative;
    top: 100px;
    display: block;
    opacity: 0;
    transition-delay: 0s;
    transition-duration: .3s;
    transition-property: top, opacity;
  }
}

.like-product {
  position: absolute;
  right: 0;
  bottom: 70px;
  left: 0;
  z-index: 7;
  padding-left: 48px;
  font-size: 2px;
  font-weight: 400;
  line-height: 58px;
  color: transparent;
  visibility: hidden;
  transition: .6s;
  i {
    display: inline-block;
    margin-top: 18px;
    margin-left: 18px;
    font-size: 24px;
    color: #111;
    cursor: pointer;
    border-radius: 50%;
    transition: .4s;
  }
  .press {
    color: #505050;
    animation: size .4s;
  }
}

.output {
  display: block;
  padding-left: 18px;
  clear: both;
  color: #111;
}

.press {
  font-size: 14px;
  line-height: 70px;
  visibility: visible;
  animation: fade 1s;
}

.load-more {
  float: left;
  width: 100%;
  margin-top: 50px;
  clear: both;
  text-align: center;
  a {
    font-size: 38px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #56c8d4;
    }
  }
}

.spinef {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.home-portfolio-image {
  height: 100%;
}

.height-3column {
  height: 410px;
  margin-bottom: 30px;
  overflow: hidden;
}
