/* =Single Project
-------------------------------------------------------------- */

/* Similar Project */

/* Buttons home, back, next */
.single-project-slider {
  position: relative;
  .single-controls {
    .arrow-left {
      position: absolute;
      top: calc(50% - 24px);
      left: 20px;
      width: 48px;
      height: 48px;
      font-size: 30px;
      line-height: 48px;
      color: #fff;
      text-align: center;
      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
        color: #111;
        border: 1px solid #fff;
        &:hover {
          color: #fff;
          background: #7beec7;
          border: 1px solid #7beec7;
        }
      }
    }
    .arrow-right {
      position: absolute;
      top: calc(50% - 24px);
      right: 20px;
      width: 48px;
      height: 48px;
      font-size: 30px;
      line-height: 48px;
      color: #fff;
      text-align: center;
      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
        color: #111;
        border: 1px solid #fff;
        &:hover {
          color: #fff;
          background: #7beec7;
          border: 1px solid #7beec7;
        }
      }
    }
  }
  .slider-controls {
    a {
      &:hover {
        color: #7beec7;
      }
    }
  }
}

.slider-controls {
  a {
    i {
      &:hover {
        color: #7beec7;
      }
    }
  }
}

.single-portfolio-wrapper {
  margin-top: 50px;
  .info {
    float: left;
    padding-bottom: 25px;
    clear: both;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 1.5px;
  }
  .project-information {
    font-family: "Open Sans";
  }
}

.table {
  tr {
    > th {
      font-size: 16px;
      font-weight: 300;
      color: #383838;
      border: 0;
    }
    > td {
      font-size: 16px;
      font-weight: 300;
      color: #383838;
      border: 0;
    }
  }
}

.social-buttons {
  padding: 0;
  li {
    display: inline-block;
    padding-right: 10px;
  }
}

.single-project-images {
  margin-bottom: 30px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}

.portfolio-controls {
  margin-top: 20px;
  background: #f1f1f1;
}

.btn-project {
  width: 100px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #f4f4f4;
  a {
    &:hover {
      cursor: pointer;
      i {
        opacity: 0;
        transform: translate(100%, 0);
      }
    }
    position: relative;
    display: block;
    overflow: hidden;
    background: transparent;
    outline: none;
    &::before {
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      font-size: 10px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 3px;
      content: attr(data-hover);
      background: #7beec7;
      opacity: 0;
      transition: all .3s ease-in-out;
      transform: translate(100%, 0);
    }
    i {
      font-size: .8em;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 3px;
      transition: all .3s ease-in-out;
    }
  }
  &:hover {
    a {
      &:hover {
        &::before {
          font-weight: 100;
          color: #111;
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
}

.home-btn {
  float: left;
}

.back-btn {
  float: right;
  margin-left: 8px;
}

.forward-btn {
  float: right;
  margin-left: 8px;
}

.similar-project {
  clear: both;
  h4 {
    margin-bottom: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
