/* =Single Project
-------------------------------------------------------------- */


/*Similar Project*/


/* Buttons home, back, next */

.single-project-slider {
  position: relative;
  .single-controls {
    .arrow-left {
      position: absolute;
      top: calc(50% - 24px);
      color: #fff;
      width: 48px;
      height: 48px;
      line-height: 48px;
      font-size: 30px;
      text-align: center;
      left: 20px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
        color: #111111;
        border: 1px solid #fff;
        &:hover {
          color: #fff;
          background: #7beec7;
          border: 1px solid #7beec7;
        }
      }
    }
    .arrow-right {
      position: absolute;
      top: calc(50% - 24px);
      color: #fff;
      width: 48px;
      height: 48px;
      line-height: 48px;
      font-size: 30px;
      text-align: center;
      right: 20px;
      right: 20px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
        color: #111111;
        border: 1px solid #fff;
        &:hover {
          color: #fff;
          background: #7beec7;
          border: 1px solid #7beec7;
        }
      }
    }
  }
  .slider-controls {
    a {
      &:hover {
        color: #7beec7;
      }
    }
  }
}

.slider-controls {
  a {
    i {
      &:hover {
        color: #7beec7;
      }
    }
  }
}

.single-portfolio-wrapper {
  margin-top: 50px;
  span.info {
    font-size: 14px;
    letter-spacing: 1.5px;
    padding-bottom: 25px;
    clear: both;
    float: left;
  }
}

.table {
  >thead {
    >tr {
      >th {
        border: 0;
        font-size: 16px;
        font-weight: 300;
        color: #383838;
      }
      >td {
        border: 0;
        font-size: 16px;
        font-weight: 300;
        color: #383838;
      }
    }
  }
  >tbody {
    >tr {
      >th {
        border: 0;
        font-size: 16px;
        font-weight: 300;
        color: #383838;
      }
      >td {
        border: 0;
        font-size: 16px;
        font-weight: 300;
        color: #383838;
      }
    }
  }
  >tfoot {
    >tr {
      >th {
        border: 0;
        font-size: 16px;
        font-weight: 300;
        color: #383838;
      }
      >td {
        border: 0;
        font-size: 16px;
        font-weight: 300;
        color: #383838;
      }
    }
  }
}

ul.social-buttons {
  padding: 0;
  li {
    display: inline-block;
    padding-right: 10px;
  }
}

.single-project-images {
  margin-bottom: 30px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}

.portfolio-controls {
  background: #f1f1f1;
  margin-top: 20px;
}

.btn-project {
  width: 100px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border: 1px solid #f4f4f4;
  font-size: 24px;
  a {
    &:hover {
      cursor: pointer;
      i {
        opacity: 0;
        transform: translate(100%, 0);
      }
    }
    background: transparent;
    outline: none;
    position: relative;
    overflow: hidden;
    display: block;
    &:before {
      content: attr(data-hover);
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      opacity: 0;
      transform: translate(100%, 0);
      transition: all .3s ease-in-out;
      font-size: 10px;
      background: #7beec7;
    }
    i {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      transition: all .3s ease-in-out;
    }
  }
  &:hover {
    a {
      &:hover {
        &:before {
          opacity: 1;
          transform: translate(0, 0);
          color: #111;
          font-weight: 100;
        }
      }
    }
  }
}

.home-btn {
  float: left;
}

.back-btn {
  float: right;
  margin-left: 8px;
}

.forward-btn {
  float: right;
  margin-left: 8px;
}

.similar-project {
  clear: both;
  h4 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}