/* Slider Home */

/* Text Slider Clip */
.slider-wrapper {
  position: relative;
}

.slider-images-wrapper {
  z-index: -1;
}

.slider-description {
  position: absolute;
  top: 45%;
  width: 100%;
  max-width: 100%;
}

.slider-description-inner {
  margin-left: 6%;
  h1 {
    font-family: "Roboto Bold";
    font-size: 60px;
    letter-spacing: 8px;
    span {
      padding: 22px;
      margin-left: 10px;
      font-family: "Roboto Bold";
      font-weight: 100;
      line-height: 80px;
      background: #7beec7;
    }
  }
}

.cd-intro {
  float: left;
  margin-left: 6%;
}

.cd-headline {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 100;
  color: #000;
  letter-spacing: 3pt;
}

.cd-words-wrapper {
  position: relative;
  display: inline-block;
  b {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
  }
  .is-visible {
    position: relative;
  }
}

.no-js {
  .cd-words-wrapper {
    b {
      opacity: 0;
    }
    .is-visible {
      opacity: 1;
    }
  }
}

.cd-headline.clip {
  span {
    display: inline-block;
    padding: .2em 0;
  }
  .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      content: "";
      background-color: #000;
    }
  }
  b {
    font-family: "Open Sans", sans-serif;
    opacity: 0;
  }
  .is-visible {
    opacity: 1;
  }
}

.header-page {
  position: relative;
  min-height: 450px;
  .inner-content {
    display: table;
    width: calc(100% - 40px);
    height: 410px;
    padding: 25px;
    margin-top: 20px;
    margin-left: 20px;
    background: rgba(255, 255, 255, .8);
    .header-content {
      display: table-cell;
      vertical-align: middle;
      h1 {
        font-family: "Roboto Slab", sans-serif;
        font-size: 60px;
        text-align: center;
      }
      hr {
        float: none;
      }
      p {
        font-size: 18px;
        text-align: center;
      }
    }
  }
  .inner-content.dribble-header {
    height: 220px;
  }
}
