doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    title OAK - HTML Theme
    meta(name='description', content='')
    meta(name='msapplication-tap-highlight', content='yes')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0')
    // Google Web Font
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet')    
    link(href='css/github.css', rel='stylesheet')
    // Favicon
    link(rel='icon', type='image/ico', href='favicon.ico')
    // Modernizer & Respond js
    script(src='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')
  body
    // Preloader
    .cover
    .header
      .container
        .logo
          a(href='index.html')
            img(src='img/logo.png', alt='Logo')
        // Menu Hamburger (Default)
        button#open-button.main-menu-indicator
          span.line
        .menu-wrap(style='background-image: url(img/nav_bg.jpg)')
          .menu-content
            .navigation
              span#close-button.pe-7s-close.close-menu
              .search-wrap.js-ui-search
                input.js-ui-text(type='text', placeholder='Search Here...')
                span.eks.js-ui-close
            nav.menu
              .menu-list
                ul
                  li.menu-item-has-children
                    a(href='#') Home
                  li
                    a(href='about.html') About
                  li.menu-item-has-children
                    a(href='#') Portfolio
                  li.menu-item-has-children
                    a(href='#') Blog
                  li
                    a(href='contact.html') Contact
            .hidden-xs
              .menu-social-media
                ul
                  li
                    a(href='#')
                      i.iconmoon-facebook
                  li
                    a(href='#')
                      i.iconmoon-twitter
                  li
                    a(href='#')
                      i.iconmoon-dribbble3
                  li
                    a(href='#')
                      i.iconmoon-pinterest
                  li
                    a(href='#')
                      i.iconmoon-linkedin2
              .menu-information
                ul
                  li
                    span T:
                    |  003 124 115
                  li
                    span E:
                    |  info@mail.com
        // End of Menu Hamburger (Default)
    .container
      .header-page.ef-parallax-bg(style='background-image:url(img/portfolio-header.jpg)')
        .col-md-6.col-md-offset-6
          .row
            .inner-content
              .header-content
                h1 Portfolio
                hr
                p Everything created in simple way
    .container.margin-top
      .portfolio-wrapper
        button.nav
          span.icon-container
            span.line.line01
            span.line.line02
            span.line.line03
            span.line.line04
        .works-filter
          a.filter.active(href='javascript:void(0)', data-filter='mix') All
          a.filter(href='javascript:void(0)', data-filter='branding') Branding
          a.filter(href='javascript:void(0)', data-filter='web') Web Design
          a.filter(href='javascript:void(0)', data-filter='graphic') Graphic Design
        .js-masonry
          #work-grid.row
            // Begin of Thumbs Portfolio
            .col-md-4.col-sm-4.col-xs-12.mix.branding
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_1.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 250
                  .details
                    span.title STYLE FASHION
                    span.info NEW BAG & STYLE FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
            .col-md-4.col-sm-4.col-xs-12.mix.web
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_2.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 60
                  .details
                    span.title WATCH-J
                    span.info NEW TREND FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
            .col-md-4.col-sm-4.col-xs-12.mix.graphic
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_3.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 1060
                  .details
                    span.title STYLE FASHION
                    span.info NEW BAG & STYLE FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
            .col-md-4.col-sm-4.col-xs-12.mix.branding
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_4.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 900
                  .details
                    span.title STYLE FASHION
                    span.info NEW BAG & STYLE FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
            .col-md-4.col-sm-4.col-xs-12.mix.branding
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_5.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 979
                  .details
                    span.title STYLE FASHION
                    span.info NEW BAG & STYLE FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
            .col-md-4.col-sm-4.col-xs-12.mix.branding
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_6.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 1024
                  .details
                    span.title STYLE FASHION
                    span.info NEW BAG & STYLE FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
            .col-md-4.col-sm-4.col-xs-12.mix.branding
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_7.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 2048
                  .details
                    span.title STYLE FASHION
                    span.info NEW BAG & STYLE FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
            .col-md-4.col-sm-4.col-xs-12.mix.branding
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_8.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 256
                  .details
                    span.title STYLE FASHION
                    span.info NEW BAG & STYLE FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
            .col-md-4.col-sm-4.col-xs-12.mix.branding
              .img.home-portfolio-image
                img(src='img/home-portfolio/img_9.jpg', alt='Portfolio Item')
                .overlay-thumb
                  a.like-product(href='javascript:void(0)')
                    i.ion-ios-heart-outline
                    span.like-product Liked
                    span.output 256
                  .details
                    span.title STYLE FASHION
                    span.info NEW BAG & STYLE FASHION
                  span.btnBefore
                  span.btnAfter
                  a.main-portfolio-link(href='single-project.html')
        .load-more
          a#load-more(href='javascript:void(0)')
            i.icon-refresh
    .footer.margin-top
      .container
        .row
          .col-md-2.col-sm-4.col-xs-12
            .footer-inner
              .footer-content
                h4 O.A.K THEME
                address
                  | City 35 AM
                  br
                  | Street 1395 p.n
                  br
                  | your Country
          .col-md-2.col-md-push-8.col-sm-4.col-xs-12
            .footer-inner
              .footer-content
                h4 CONTACT INFO
                p
                  | T:003 124 115
                  br
                  |  E:info@mail.com
                  br
                  |  W:www.website.com
          .col-md-4.col-sm-4.col-xs-12
            .footer-inner
              .footer-content
                ul.social-media
                  li
                    a(href='#')
                      i.iconmoon-facebook
                  li
                    a(href='#')
                      i.iconmoon-twitter
                  li
                    a(href='#')
                      i.iconmoon-flickr2
                  li
                    a(href='#')
                      i.iconmoon-dribbble3
                  li
                    a(href='#')
                      i.iconmoon-pinterest
                  li
                    a(href='#')
                      i.iconmoon-linkedin2
                span.copyright-mark © 2015 OAK, ALL RIGHTS RESERVED
    a#scroll-top.scroll-top(href='javascript:void(0)')
      i.pe-7s-angle-up
    script(src='js/vendor/jquery-1.11.2.min.js')
    script(data-pace-options='{ "ajax": false }', src='js/vendor/pace.min.js')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/vendor/classie.js')
    script(src='js/vendor/isotope.pkgd.min.js')
    script(src='js/vendor/jquery.velocity.min.js')
    script(src='js/vendor/jquery.kenburnsy.min.js')
    script(src='js/vendor/textslide.js')
    script(src='js/vendor/imagesloaded.pkgd.min.js')
    script(src='js/vendor/tabs.js')
    script(src='js/ef-slider.js')
    script(src='js/vendor/owl.carousel.min.js')
    script(src='js/vendor/jquery.magnific-popup.min.js')
    script(src='js/vendor/jquery.social-buttons.min.js')
    script(src='js/vendor/wow.min.js')
    script(src='js/main.js')
    script(src='js/ajax.js')
