doctype html
html.no-js(lang="")
	head
		meta(charset="utf-8")
		title MARVAR
		meta(name="description", content="")
		meta(name="msapplication-tap-highlight", content="yes")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0")
		// Google Web Font
		link(href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700", rel="stylesheet", type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Lekton:400,700,400italic", rel="stylesheet", type="text/css")
		// Bootstrap 3
		link(rel="stylesheet", href="css/bootstrap.min.css")
		// OWL Carousel
		link(rel="stylesheet", href="css/owl.carousel.css")
		link(rel="stylesheet", href="css/owl.theme.css")
		// Slider
		link(rel="stylesheet", href="css/jquery.kenburnsy.css")
		// Animate
		link(rel="stylesheet", href="css/animate.css")
		// Web Icons Font
		link(rel="stylesheet", href="css/pe-icon-7-stroke.css")
		link(rel="stylesheet", href="css/iconmoon.css")
		link(rel="stylesheet", href="css/et-line.css")
		link(rel="stylesheet", href="css/ionicons.css")
		// Magnific PopUp
		link(rel="stylesheet", href="css/magnific-popup.css")
		// Tabs
		link(rel="stylesheet", type="text/css", href="css/tabs.css")
		link(rel="stylesheet", type="text/css", href="css/tabstyles.css")
		// Loader Style
		link(rel="stylesheet", href="css/loader-1.css")
		// Costum Styles
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/responsive.css")
		// Favicon
		link(rel="icon", type="image/ico", href="favicon.ico")
		// Modernizer & Respond js
		script(src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js")
	body
		// Preloader
		.cover
		.header
			.container
				.logo
					a(href="index.html")
						img(src="img/logo.png", alt="Logo")
				// Menu Hamburger (Default)
				button#open-button.main-menu-indicator
					span.line
				.menu-wrap(style="background-image: url(img/nav_bg.jpg)")
					.menu-content
						.navigation
							span#close-button.pe-7s-close.close-menu
							.search-wrap.js-ui-search
								input.js-ui-text(type="text", placeholder="Search Here...")
								span.eks.js-ui-close
						nav.menu
							.menu-list
								ul
									li.menu-item-has-children
										a(href="#") Home
										ul.sub-menu
											li
												a(href="index.html") - Default
											li
												a(href="index-architecture.html") - Architecture
											li
												a(href="index-full-slider.html") - Slider Full Width
									li
										a(href="about.html") About
									li.menu-item-has-children
										a(href="#") Portfolio
										ul.sub-menu
											li
												a(href="portfolio-2column.html") -Portfolio 2 Column
											li
												a(href="portfolio-3column.html") -Portfolio 3 Column
											li
												a(href="portfolio-masonry.html") -Portfolio Masonry
											li
												a(href="portfolio-dribbble.html") -Portfolio Dribbble
									li.menu-item-has-children
										a(href="#") Blog
										ul.sub-menu
											li
												a(href="blog.html") Blog Default
											li
												a(href="blog-timeline.html") Blog Timeline
											li
												a(href="single-blog.html") Blog Single
									li
										a(href="contact.html") Contact
						.hidden-xs
							.menu-social-media
								ul
									li
										a(href="#")
											i.iconmoon-facebook
									li
										a(href="#")
											i.iconmoon-twitter
									li
										a(href="#")
											i.iconmoon-dribbble3
									li
										a(href="#")
											i.iconmoon-pinterest
									li
										a(href="#")
											i.iconmoon-linkedin2
							.menu-information
								ul
									li
										span T:
										|  003 124 115
									li
										span E:
										|  info@mail.com
				// End of Menu Hamburger (Default)
		.container
			.header-page.ef-parallax-bg(style="background-image:url(img/blog-header.jpg)")
				.col-md-6.col-md-offset-6
					.row
						.inner-content
							.header-content
								h1 Single Blog
								hr
								p Everything created in simple way
		.container.margin-top
			.single-blog-wrapper
				.row
					.col-md-9
						h1
							| Pain of itself,but because and occasionally circumstances occur those who do not know how to pursue pleasure rationally
							| encounter
				.blog-post
					.blog-front-image
						.row
							.col-md-6.wow.animated.fadeInUp(data-wow-delay="0.10s")
								img(src="img/blog/img_1.jpg", alt="Blog Image")
							.col-md-5.col-md-offset-1
								.blog-front-content.wow.animated.fadeInUp(data-wow-delay="0.20s")
									.blog-front-content-inner
										span.post-single-date 14 Jun - 2015
										.share-buttons
											span.info-title Share:
											ul
												li
													a(href="#")
														i.iconmoon-facebook
												li
													a(href="#")
														i.iconmoon-twitter
												li
													a(href="#")
														i.iconmoon-google-plus
												li
													a(href="#")
														i.iconmoon-pinterest
										.blog-tags
											span.info-title Tags:
											ul
												li
													a(href="#") clean
												li
													a(href="#") modern
												li
													a(href="#") beauty
												li
													a(href="#") fashion
						.full-blog-content
							p
								| Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil
								| and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious
								| physical exercise, except to obtain some advantage from it.who do not know how to pursue pleasure rationally
								| encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires
								| to obtain pain advantage. The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
								| itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
								| consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain
								| pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can
								| procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical
								| exercise, except to obtain some great explorer of the truth, the master-builder of human happiness. No one
								| rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how
								| to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there.
							blockquote
								| Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
								| system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.who
								| do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Expound the
								| actual teachings of the great explorer of the truth, account of the system the master-builder of human happiness.
							p
								b Avoids pleasure itself, because it is pleasure,
								|  but because those who do not know how to pursue pleasure
								|               rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues
								|               or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which
								|               toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious
								|               physical exercise, except to obtain some. Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
								|               quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
								|               aut odit aut fugit, sed quia undertakes laborious physical exercise, except Totam rem aperiam, eaque ipsa quae
								|               ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo consequuntur magni dolores
								|               eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia. great explorer
								|               of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
								|               it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
								|               that extremely.
		.footer.margin-top
			.container
				.row
					.col-md-2.col-sm-4.col-xs-12
						.footer-inner
							.footer-content
								h4 O.A.K THEME
								address
									| City 35 AM
									br
									|  Street 1395 p.n
									br
									|  your Country
					.col-md-2.col-md-push-8.col-sm-4.col-xs-12
						.footer-inner
							.footer-content
								h4 CONTACT INFO
								p
									| T:003 124 115
									br
									|  E:info@mail.com
									br
									|  W:www.website.com
					.col-md-4.col-sm-4.col-xs-12
						.footer-inner
							.footer-content
								ul.social-media
									li
										a(href="#")
											i.iconmoon-facebook
									li
										a(href="#")
											i.iconmoon-twitter
									li
										a(href="#")
											i.iconmoon-flickr2
									li
										a(href="#")
											i.iconmoon-dribbble3
									li
										a(href="#")
											i.iconmoon-pinterest
									li
										a(href="#")
											i.iconmoon-linkedin2
								span.copyright-mark © 2015 OAK, ALL RIGHTS RESERVED
		a#scroll-top.scroll-top(href="javascript:void(0)")
			i.pe-7s-angle-up
		script(src="js/vendor/jquery-1.11.2.min.js")
		script(data-pace-options='{ "ajax": false }', src="js/vendor/pace.min.js")
		script(src="js/vendor/bootstrap.min.js")
		script(src="js/vendor/classie.js")
		script(src="js/vendor/isotope.pkgd.min.js")
		script(src="js/vendor/jquery.velocity.min.js")
		script(src="js/vendor/jquery.kenburnsy.min.js")
		script(src="js/vendor/textslide.js")
		script(src="js/vendor/imagesloaded.pkgd.min.js")
		script(src="js/vendor/tabs.js")
		script(src="js/ef-slider.js")
		script(src="js/vendor/owl.carousel.min.js")
		script(src="js/vendor/jquery.magnific-popup.min.js")
		script(src="js/vendor/jquery.social-buttons.min.js")
		script(src="js/vendor/wow.min.js")
		script(src="js/main.js")
		script(src="js/ajax.js")
